@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom {
  transform: translateY(-60px);
  border-color: rgb(50, 50, 50) !important;
  border-radius: 12px !important;
  background-color: #323232;
}

/* .leaflet-control-container {
  display: none !important;
} */

.leaflet-image-layer.fade-transition {
  transition: opacity 0.3s ease-in-out !important;
}

.leaflet-container {
  background: #ede7e2 !important;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



@font-face {
  font-family: 'BCGHenSans';
  src: url('/fonts/BCGHenSansThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('/fonts/BCGHenSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('/fonts/BCGHenSansLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('/fonts/BCGHenSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('/fonts/BCGHenSansItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('/fonts/BCGHenSansBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

body {
  font-family: 'BCGHenSans', sans-serif;
  touch-action: none;
  overflow: hidden; /* Opcional si usas full-screen layout */
}

.leaflet-marker-icon {
  z-index: 10 !important;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important; 
}


.highlight-overlay {
  /* filter: hue-rotate(30deg) brightness(0.7); */
  opacity: 0.5;
}


.leaflet-control-zoom-in {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: #323232 !important;
  color: white !important;
  border-bottom: solid 1px #323232 !important;
}

.leaflet-control-zoom-out {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background-color: #323232 !important;
  color: white !important;
}

.leaflet-disabled {
  color: grey !important;
}

.leaflet-top {
  display: none !important;
}